body {
	background-color: rgb(36, 36, 36);
	color:rgb(196, 196, 196);
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.panel {
	background-color: rgb(51, 51, 51);
	margin-bottom: 10px;
	border: 2px solid rgb(70, 70, 70);
	border-radius: 5px;
    padding: 2.5px 0px;
	width: 500px;
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: 525px 525px 525px;
	margin-left: 10em;
}

div#footer {
    position:fixed;
    bottom:-5px;
    left:50%;
    transform: translate(-50%, 0%);
    width:30%;
    color:rgb(136, 136, 136);
    background:#333;
    padding:8px;
    border-radius: 10px;
}

input, textArea {
    background-color: rgb(51, 51, 51);
	color: rgb(209, 207, 207);
	margin-bottom: 10px;
	border: 2px solid rgb(70, 70, 70);
	border-radius: 10px;
    padding: 2.5px 10px;
}

button {
	background-color: rgb(158, 158, 158);
	border: 2px solid rgb(70, 70, 70);
	border-radius: 7.5px;
}

button[type="submit"] {
	background-color: rgb(91, 248, 99);
	color: rgb(36, 36, 36);
}

#delete {
    background-color: rgb(255, 0, 0);
	color: rgb(36, 36, 36);
    font-weight: bold;
	border: 2px solid rgb(126, 0, 0);
	border-radius: 25px;
}

#title {
	color: rgb(153, 109, 255);
}

#subtitle {
	color: grey;
}

select {
	background-color: rgb(51, 51, 51);
	color: rgb(223, 223, 223);
	margin-bottom: 10px;
	border: 2px solid rgb(70, 70, 70);
	border-radius: 5px;
    padding: 2.5px 0px;
}

select option {
	background-color: rgb(51, 51, 51);
}

a {
	color:rgb(153, 109, 255)
}

#bottom-row {
	display: flex;
	justify-content: space-between;
}

#left-corner {
	margin-left: 1em;
}

#middle {
	margin-right: 1.75em;
	color: grey;
}

#right-corner {
	margin-right: 1em;
}

#status_section {
	margin: 0 auto;
}